<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <style>
    body{
            background-color: #bbdefb;
        }
  </style>
</head>

<body>
  <header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <h4 class="text-white">WeatherInfo</h4>
        </a>
        <div class="text-dark">-------</div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="/weather/Zhytomyr" class="nav-link px-2 text-secondary">Weather</a></li>
        </ul>
      </div>
    </div>
  </header>
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">WeatherInfo</h1>
    <div class="col-lg-6 mx-auto">
      <h5 class="mb-4">Сервіс отримання даних про погоду</h5>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a class="btn btn-primary btn-lg px-4 gap-3" href="\weather\Zhytomyr">Сторінка погоди</a>
      </div>
    </div>
  </div>
</body>
</html>