<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <style>
        body{
            background-color: #bbdefb;
        }
        .block1{
            background-color: #e3f2fd;
        }
        p{
            font-size: 20px;
            color: black;
        }
        h3{
            margin-top: 20px;
            color: black;
        }
    </style>
</head>
<body>
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <h4 class="text-white">WeatherInfo</h4>
        </a>
        <div class="text-dark">-------</div>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/weather/Zhytomyr" class="nav-link px-2 text-white">Weather</a></li>
        </ul>

        <form action="/" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
            <table>
                <tr>
                    <td><input type="search" name="cityName" id="CityInput" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search"></td>
                    <td><button type="submit" class="btn btn-outline-light me-2">Search</button></td>
                </tr>
            </table>
        </form>
      </div>
    </div>
  </header>
    <div class="container col-xxl-8 py-5">
        <div class="row flex-lg-row-reverse align-items-flex g-5">
            <div class="col-10 col-sm-8 col-lg-8">
                <h3 class="card-title">Weather in {{city}}</span></h3>
                <div id="picture">
                    <img src="http://openweathermap.org/img/wn/{{weather.weather.0.icon}}@2x.png" alt="">
                </div>
                <p>Pressure <strong id="pressure">{{weather.main.pressure}} мм</strong></p>
                <p>Humidity <strong id="humidity">{{weather.main.humidity}}&#37;</strong></p>
                <p>Temperature <strong id="temperature">{{weather.main.temp}} &#176;C</strong></p>
            </div>
            <div class=" col-lg-4">
                <ul class="block1 dropdown-menu  position-static d-grid gap-1 p-3 rounded-3 mx-0 border-0 shadow w-250px">
                    <li><a class="dropdown-item rounded-2" href="/weather/Zhytomyr"><h5>Zhytomyr</h5></a></li>
                    <li><a class="dropdown-item rounded-2" href="/weather/Kyiv"><h5>Kyiv</h5></a></li>
                    <li><a class="dropdown-item rounded-2" href="/weather/Warsaw"><h5>Warsaw</h5></a></li>
                    <li><a class="dropdown-item rounded-2" href="/weather/London"><h5>London</h5></a></li>
                    <li><a class="dropdown-item rounded-2" href="/weather/Odessa"><h5>Odessa</h5></a></li>
                    <li><a class="dropdown-item rounded-2" href="/weather/Lviv"><h5>Lviv</h5></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
